.home-page .text-zone {
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%; }
  .home-page .text-zone a {
    font-weight: normal;
    color: #08fdd8; }
    .home-page .text-zone a.logo {
      font-weight: normal;
      font-size: 3rem;
      margin-right: 4px;
      margin-left: 20px;
      margin-top: -6px;
      float: left; }

.custom-style {
  display: inline;
  float: left; }

.home-page h1 {
  color: #fff;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: font-file-82132;
  font-weight: normal;
  overflow: hidden; }
  .home-page h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -35px; }
  .home-page h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    -webkit-animation: myanim2 1s 1.7s backwards;
    animation: myanim2 1s 1.7s backwards;
    top: 116px;
    left: 340px; }

.home-page h2 {
  color: #8d8d8d;
  margin-top: 9px;
  font-weight: normal;
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
  -webkit-animation: myanim2 1s 1.8s backwards;
  animation: myanim2 1s 1.8s backwards; }

.home-page .flat-button {
  color: #08fdd8;
  font-size: 11px;
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #08fdd8;
  margin-top: 25px;
  float: left;
  border-radius: 3px;
  -webkit-animation: myanim2 1s 1.8s backwards;
  animation: myanim2 1s 1.8s backwards; }

.home-page .logo {
  -webkit-text-fill-color: transparent;
  display: block;
  padding: 8px 0;
  display: block;
  padding: 8px 0;
  font-size: 2rem;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
  background: linear-gradient(60deg, #fc0853 10%, #fc0853 62%, #08fdd8 62%, #08fdd8 72%);
  /* text-shadow: 0.5px -0.6vw #fff4; */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.home-page .flat-button:hover {
  background: #08fdd8;
  color: #252627; }

.home-page h1 img {
  position: relative;
  top: -5px;
  opacity: 0;
  width: 32px;
  height: auto; }

.home-page .blast {
  opacity: 1;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .home-page .blast:hover {
    color: #08fdd8; }

.flat-button {
  white-space: nowrap;
  cursor: pointer; }

.home-page h1 span {
  display: inherit;
  float: left;
  clear: left; }

.home-page h1 .clear-none {
  clear: none; }

@media (max-width: 960px) {
  .container.home-page.home {
    overflow: hidden; }
  .home-page .text-zone {
    width: 45%; }
  .home-page h1:after {
    top: 282px;
    left: 403px; } }

@media (max-width: 767px) {
  .home-page .text-zone {
    width: 86%; }
  .home-page h1 {
    font-size: 47px !important; }
  .home-page .hi {
    float: none; }
  .home-page h1:after {
    top: 282px;
    left: 313px; } }
